@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    Layout = "_LayoutOne";
}


@{
    ViewData["Title"] = "Log in";
}


<div class="row" style="position: absolute; min-height: 100%; height:100%; width: 100%; top: 0;">
    <div class="col s12 m7 white" style="min-height:100%; height: 100%;">
        <div class="row">
            <div class="col s12" style="padding: 10px;"></div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div>
                    @*<h4 class="lato">Log In</h4>*@
                    <div class=".hide-on-small-only">
                        <h2>@ViewData["Title"].</h2>
                    </div>
                    <div class="divider"></div>
                    @{
                        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    @*There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.*@
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
                <h5 style="text-align: center; font-weight: 300;"> - Or - </h5>

                <div class="formPlace">
                    <form class="col s12" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="Email" asp-for="Email" type="email" class="validate" />
                                @* <span asp-validation-for="Email" class="text-danger"></span>*@
                                <label for="password" class="active">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="Password" asp-for="Password" type="password" class="validate" />
                                <label for="password" class="active">Password</label>
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="right">
                                    <input type="checkbox" class="filled-in" asp-for="RememberMe" />
                                    <label asp-for="RememberMe">
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-large">Log in</button>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="left">
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                            </div>

                            <div class="right">
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m5 purple" style="min-height: 100%; padding: 10% 5%;">
        @*<img src="img/features/person-nancy-200.png">*@

        <div class="row center">
            <div class="col s12" style="padding: 20px 0;">
                <h5 class="lato white-text" style="display: inline; vertical-align: middle; font-weight: 600; margin-right: 10px;">Oryx West Africa</h5>
            </div>
        </div>



        <h6 class="light white-text half-line center">
            info@oryx-wa.com
        </h6>
        <h6 class="light white-text half-line center">
            <a href="http://oryx-wa.com">http://oryx-wa.com</a>
        </h6>
        <p class="center">
            <a href="https://www.facebook.com/Oryx-West-Africa-291623575373/?ref=bookmarks" class="btn-floating red"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/oryx-computer-system-w-a-?trk=company_logo" class="btn-floating yellow darken-1"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            @*<a href="https://twitter.com/Oryxwa"  class="btn-floating green"><i class="fa fa-google-plus" aria-hidden="true"></i></a>*@
            <a href="https://twitter.com/Oryxwa" class="btn-floating blue"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/oryxwestafrica" class="btn-floating blue"><i class="fa fa-instagram" aria-hidden="true"></i></a>


        </p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Materialize.updateTextFields();
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
